<div class="container center-block">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Log in
                    </h3>
                    <!--
                    <div class="checkbox pull-right">
                        <label>
                            <input type="checkbox" />
                            Remember
                        </label>
                    </div>
                    -->
                </div>
                <div class="panel-body">

                  <%= form_for(resource, as: resource_name, url: session_path(resource_name, html: {role: "form"})) do |f| %>
                    <div class="field">
                      <%= f.label :email %><br />
                      <%= f.email_field :email, autofocus: "true", autocomplete: "off", autocorrect: "off", autocapitalize: "off", class: "form-control", tabindex: "1" %>
                    </div>

                    <div class="field">
                      <%= f.label :password %> <a href="/forgotpassword">(forgot password?)</a><br />
                      <%= f.password_field :password, autocomplete: "off", autocorrect: "off", autocapitalize: "off", class: "form-control", tabindex: "1" %>
                    </div>

                    <% if devise_mapping.rememberable? -%>
                      <input type="hidden" name="user[remember_me]" value="1" />
                    <% end -%>

                    <div class="actions">
                      <%= f.submit "Log in", class: "btn btn-success" %>
                    </div>
                  <% end %>
                </div>
              </div>
        </div>
    </div>
</div>
