<!-- you'd change this if you want something different for the "home" or "landing" page than the actual application layout -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LANDING</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">RAILS SKELETON</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "navbar-form navbar-right"}) do |f| %>
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Log In</button>
            <input type="hidden" name="user[remember_me]" value="1" />
          <% end %>
            
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- content container -->
    <div class="container">
      <%= flash_messages %>
      <%= yield %>
    </div>
    <!-- /content container -->

    <footer class="footer">
      <div class="container">
        <p class="text-muted">Footer!</p>
      </div>
    </footer>

  </body> 
</html>