<!-- you'd change this if you want something different for the application layout (when a user is logged in)-->
<!DOCTYPE html>
<html lang="en">
  <%= render "common/head" %>
  <body>
    <%= render "common/navbar" %>

    <div class="container">
      <%= flash_messages %>
      <%= yield %>
    </div>

    <%= render "common/footer" %>
  </body> 
</html>