<!-- you'd change this if you want something different for the "home" or "landing" page than the actual application layout -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LANDING</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">RAILS SKELETON</a>
        </div>
        <%= render "defaults/login_menu" %>
      </div>
    </nav>

    <!-- content container -->
    <div class="container">
      <%= flash_messages %>
      <%= yield %>
    </div>
    <!-- /content container -->

    <%= render "defaults/footer" %>

  </body> 
</html>