<!-- you'd change this if you want something different for the "home" or "landing" page than the actual application layout -->
<!DOCTYPE html>
<html lang="en">
  <%= render "common/head" %>
  <body>

    <%= render "common/navbar" %>

    <!-- content container -->
    <div class="container">
      <%= flash_messages %>
      <%= yield %>
    </div>
    <!-- /content container -->

    <%= render "common/footer" %>

  </body> 
</html>